
@{
    ViewBag.Title = "Contact";
}

<div class="row contact-message">
    <div class="col-lg-10 col-centered">
        <h2 class="text-center">@ViewBag.Title.</h2>
        <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
</div>

<section class="container-fluid offset-right-cherry-blossom">
    <div class="row">
        <div class="col-lg-4 cherry-blossom contact-img-cherry-blossom">
            <img src="~/Content/images/cherry-blossom.png" />
        </div>
    </div>
</section>

<section>
    @Html.Partial("_ContactPartial");
</section>

<section class="container offset-left-tulip">
    <div class="row">
        <div class="col-lg-4 tulip contact-img">
            <img src="~/Content/images/tulips.png" />
        </div>
    </div>
</section>

@Html.Partial("_ModalPartial")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.Message != null)
    {
        <script>
            $(document).ready(function () {
                console.log("Sucess");
                $("#successModal").modal('show');
            });
        </script>

    }
}

