@model BrightenCommunities.Models.Blogs
@{
    ViewBag.Title = "Home Page";
}

<div class="body-content">
    <section class="the-vision">
        <div class="row">
            <div class="col-lg-10 col-centered">
                <h2 class="text-center">the Vision</h2>
                <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
        </div>
    </section>

    <section class="cleaning">
        <div class="row">
            <div class="col-lg-10 col-centered pic-content">
                <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                    <img src="http://via.placeholder.com/300x300" />
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                    <img src="http://via.placeholder.com/300x300" />
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                    <img src="http://via.placeholder.com/300x300" />
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                    <img src="http://via.placeholder.com/300x300" />
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                    <img src="http://via.placeholder.com/300x300" />
                </div>
                <div class="col-xs-6 col-md-4 col-lg-4 no-padding">
                    <img src="http://via.placeholder.com/300x300" />
                </div>
            </div>
        </div>
    </section>

    <section class="the-mission">
        <div class="row">
            <div class="col-lg-10 col-centered">
                <h3 class="text-center">the Mission</h3>
                <p class="text-center">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col-lg-10 col-centered">
            @Html.Action("_BlogCreatePartial")
            @Html.Action("_BlogPartial")
            <!-- Button trigger modal -->
            </div>
        <div class="col-xs-pull-1 col-lg-3 col-lg-push-1 m-top-25">
            <button type="button" class="btn btn-primary centerBlock" data-toggle="modal" data-target="#blogModal">
                Create Blog
            </button>
        </div>        
    </div>
</div>
