@import "../globals.scss";

    
    .blog-label {
        font-weight: $font-bold;
        color:#000;
        border-top: none;
        margin-bottom: 25px;
    }

.blog {
    height: auto;

    div {
        border-top: solid #ccc 1px;
        padding: 25px;        
    }
}
