
.contact {
    margin-top: 50px;
    
    .form-group {

        .form-control {
            max-width: 630px;
        }

        .btn-default {
            width: 100%;
            max-width: 100px;
        }

        textarea {
            height: 100px;
        }
    }
  }

.contact-message {
    @media (max-width: 769px) {
        margin-top: 55px;
    }
}

.contactModal {

    .modal-content {
        padding: 25px;

        .close {
            margin-top: -25px;
            margin-right: -14px;
        }
    }
}

