.the-vision {
    margin-top: 25px;
}


.cleaning {
    margin-top: 25px;

    .pic-content {
        margin-top: 25px;

        img {
            width: 100%;
        }
    }
}

.the-mission {
    margin-top: 25px;
}