
.form-horizontal {
    margin: 10px !important;

    @media (max-width: 480px) {
        width: 100%;
    }
}

.modal-content {
    width: 500px;

    @media (max-width: 480px) {
        width: 100%;
    }

    .close {
        margin: 10px;
        color: #000;
        opacity: 1;
        font-size: 24px;
    }
}
