
@{
    Layout = null;
}

<div class="container-fluid">
    <footer>
            <p class="text-center relative offset-bottom">&copy; @DateTime.Now.Year - Brightening Communities</p>
    </footer>
</div>


